@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

button {
  all: unset;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #12121f;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 45rem;
  height: 53rem;
  background-color: #222227;
  box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #167e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  text-align: center;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.4);
}

.btn-direction {
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.btn-direction:hover {
  background-color: #777;
  border-radius: 100%;
}

.btn-direction .icon {
  font-size: 2.5rem;
  width: 100%;
  height: 100%;
}

.month__name {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.month__full {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding-inline: 0.4rem;
  display: flex;
  align-items: center;
}

.weekday {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7); /* width of the parent container - padding-inline i.e 45 - (0.4 - 0.4) = 44.2rem */
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: .2rem;
  height: 36rem;
  overflow-y: hidden;
}

.days .day {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(37.6rem / 7) /* 45 - (0.6 * 7)(margin of each cell * 7 day) - (0.4 * 7)(border of each cell * 7) - 0.4 (padding of the parent) */;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
  align-self: stretch
}

.days .day:not(.today) {
  border: .2rem solid transparent;
  transition: background-color .2s;
}

.days .day:hover:not(.today) {
  background-color: #262626;
  border-color: #777;
  cursor: pointer;
}

.next-date,
.prev-date {
  opacity: 0.5;
}

.prev-date:hover {
  border-color: transparent !important;
  cursor: default !important;
  background-color: transparent !important;
}

.today {
  background-color: #167e56;
  border: .2rem solid transparent;
}